footer
  .container.text-center
    p.pull-left © 2014 Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/pockry/NodeStarter') GitHub Project
      li
        a(href='https://github.com/pockry/NodeStarter/issues') Issues