footer
  .container.text-center
    p.pull-left 
      i.fa.fa-gear
      | &nbsp;2014 Open Sourced by 
      a(href='http://idlelife.org' target="_blank") pockry
      | &nbsp;under MIT License
    ul.pull-right.list-inline
      li
        a(href='mailto://pockry@outlook.com') Email
      li
        a(href='http://weibo.com/pockry' target="_blank") Weibo